* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #85827e;
}

.nav {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
    background-color: #636363;
    padding: 0.5rem;
    height: 10vh;
}

.nav-item {
    border-radius: 30%;
    padding: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    &:hover {
        transform: scale(1.1);
        transition: 1.19s;
    }
    &:not(:hover) {

        transform: scale(1);
        transition: 1.19s;
    }
}

.nav-item-link {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
    color: #f2f2f2;

    &:hover {
        color: #c22557;
        transition: 0.5s;
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 79.5vh;
    gap: 3rem;
    margin-bottom: 1rem;
}

.section-name {
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.section-name h2 {
    font-size: 3.5rem;
    color: #c22557;
    font-family: "Montserrat", sans-serif;  
}

.section-name h3 {
    font-size: 2.5rem;
    color: #504375;
    font-family: "Montserrat", sans-serif;
}

.project-img {
    border-radius: 50%;
    border: 3px solid #000;
    width: 25vw;
}

.photo {
    border-radius: 50%;
    width: 25vw;
    height: 60vh;
    box-shadow: #000 0px 0px 10px;
    &:hover {
        transition: 2s;
        transform: scale(1.03);
    }
    &:not(:hover) {
        transition: 2s;
        transform: scale(1);
    }
}

.my-description {
    width: 25vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: #f2f2f2;
}

.my-description h1 {
    font-size: 4rem;
    color: #39324d;
    font-family: "Montserrat", sans-serif;
}

.my-description p {
    font-family: "Comic Neue";
    font-size: 1.3rem;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #636363;
    justify-content: center;
    align-items: center;
    height: 8vh;
    color: #f2f2f2;
    gap: 0.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9rem;
}

.projects {
    display: flex;
    flex-direction: column;
}

.projects-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.projects-title h1 {
    font-size: 3rem;
    margin-top: .5rem;
    font-family: "Montserrat", sans-serif;
    color: #c22557;
    margin-bottom: 1.5rem;
}

.development {
    color: rgba(255, 0, 0, 0.582);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 5rem;
    margin-top: -3rem;
}

.card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 35%;
    height: 90%;
    background-color: #636363;
    border-radius: 10px;
    text-align: center;
}

.project-name {
    font-size: 1.5rem;
    color: #39324d;
    font-family: "Comic Neue", cursive;
}

.project-img {
    width: 30vw;
    height: 30vh;
    border-radius: 0;
}

.project-description {
    color: #f2f2f2;
    font-family: "Comic Neue";
}


.technologies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.technology-img {
    margin-top: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    &:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }
    &:not(:hover) {
        transform: scale(1);
        transition: 0.5s;
    }
}

.networks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.networks h2 {
    font-size: 3rem;
    color: #c22557;
    font-family: "Montserrat", sans-serif;
}

.main-networks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.network-logo {
    width: 6rem;
    height: 6rem;

    &:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }

    &:not(:hover) {
        transform: scale(1);
        transition: 0.5s;
    }
}

.contact-me {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 75%;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    border: #000 solid 2px;
    padding: 1rem;
}

.contact-me h2 {
    font-size: 3rem;
    color: #39324d;
    font-family: "Montserrat", sans-serif;
}

.contact-me form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    align-items: center;
}

.input {
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    border: #000 solid 2px;
    padding-left: 1rem;
    font-size: 1.5rem;

    &:focus {
        background-color: #f2f2f28c;
        outline: none;
        border: #000 solid 2px;
    }
}

.contact-me form button {
    width: 50%;
    height: 3rem;
    border-radius: 5px;
    border: #000 solid 2px;
    background-color: #636363;
    color: #f2f2f2;
    font-size: 1.5rem;

    &:hover {
        cursor: pointer;
        background-color: #f2f2f2;
        color: #000;
        transform: scale(1.1);
        transition: 0.5s;
    }
    &:not(:hover) {
        transform: scale(1);
        transition: 0.5s;
    }
}

.text {
    height: 100%;
}


